.searchBar {
    width: 100%;
    // margin: 5px;
    // border-width: 0px;
    // padding: 0px;
    // border: 0px
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip {
    .tooltiptext {
        visibility: visible;
        background-color: black;
        color: #fff;
        text-align: center;
        border-radius: 6px;
        padding: 5px;
        position: absolute;
        z-index: 1;
        top: 150%;
        left: 50%;
        margin-left: -60px;
        animation: tooltipAnimation 3s forwards;

    }
}

.tooltip {
    .tooltiptext::after {
        content: "";
        position: absolute;
        bottom: 100%;
        left: 50%;
        margin-left: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: transparent transparent black transparent;
    }
}

@keyframes tooltipAnimation {
    0% {
        opacity: 0;
    }

    10% {
        opacity: 1;
    }

    90% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}